{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#    <head>#}
{#        <meta charset="UTF-8">#}
{#        <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"#}
{#            integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="#}
{#            crossorigin="anonymous" referrerpolicy="no-referrer">#}
{#        <link rel="stylesheet" href="services.css">#}
{#        <title>Услуги</title>#}
{#    </head>#}
{##}
{#    <body>#}
{#        <header>#}
{#            <nav id="desktopNav">#}
{#                <div class="leftnav">#}
{#                  <a href="web/index.html"><img src="images/logo.png" alt="logo" class="logo" /></a>#}
{#                </div>#}
{#                <div class="rightnav">#}
{#                  <ul class="menu">#}
{#                    <li class="active"><a href="web/index.html">Начало</a></li>#}
{#                    <li><a href="forus.html">За нас</a></li>#}
{#                    <li><a href="services.html">Услуги</a></li>#}
{#                    <li><a href="contact.html">Контакти</a></li>#}
{#                  </ul>#}
{#                </div>#}
{#                <div class="hamburger">#}
{#                  <i class="fa-solid fa-bars" style="color: #ffffff;"></i>#}
{#                </div>#}
{#                <div class="dropdown">#}
{#                  <li class="active"><a href="web/index.html">Начало</a></li>#}
{#                  <li><a href="forus.html">За нас</a></li>#}
{#                  <li><a href="services.html">Услуги</a></li>#}
{#                  <li><a href="contact.html">Контакти</a></li>#}
{#                </div>#}
{#              </nav>#}
{#        </header>#}
{##}
{#        <main>#}
{#            <section class="services">#}
{#                <h1>Нашите Услуги</h1>#}
{#                <div class="service">#}
{#                    <i class="fas fa-oil-can"></i>#}
{#                    <h2>Смяна на Масло</h2>#}
{#                    <p>Предоставяме услуга по смяна на масло, включваща източване на старото, замяна с висококачествено и поставяне на нов маслен филтър. Редовната смяна на масло помага за удължаването живота на двигателя.</p>#}
{#                </div>#}
{##}
{#                <div class="service">#}
{#                    <i class="fas fa-filter"></i>#}
{#                    <h2>Подмяна на филтри</h2>#}
{#                    <p>Уверете се, че филтрите на вашия автомобил са чисти и ефективни. Подменяме въздушни, маслени и горивни филтри, за да се поддържа върховна производителност и икономичност.</p>#}
{#                </div>#}
{##}
{#                <div class="service">#}
{#                    <i class="fas fa-car"></i>#}
{#                    <h2>Преглед и Ремонт на Спирачки</h2>#}
{#                    <p>Комплексен преглед на системата за спирачки, включително проверка на спирачни накладки, дискове, тръбички и нива на течност. Предлагаме ремонт и замяна на спирачки, за да осигурим вашата безопасност.</p>#}
{#                </div>#}
{##}
{#                <div class="service">#}
{#                    <i class="fas fa-cogs"></i>#}
{#                    <h2>Диагностика на Двигателя</h2>#}
{#                    <p>С използване на напреднали диагностични инструменти (като Ista, IMPA, KTS, Launch, Star, OpCom, VAG) идентифицираме и отстраняваме проблеми, засягащи производителността на Вашия автомобил.</p>#}
{#                </div>#}
{##}
{#                <div class="service">#}
{#                    <i class="fas fa-cogs"></i>#}
{#                    <h2>Поддръжка на Скоростна кутия</h2>#}
{#                    <p>Поддържайте плавната работа на скоростната Ви кутия с нашите услуги. Предлагаме смяна на маслото, замяна на филтри и комплексни прегледи, за да предотвратим излишни главоболия, скъпи и сложни ремонти.</p>#}
{#                </div>#}
{#            #}
{#            </section>#}
{#        </main>#}
{##}
{#        <footer>#}
{#            <div class="footerContainer">#}
{#                <div class="socialIcons">#}
{#                  <a href=""><i class="fa-brands fa-facebook"></i></a>#}
{#                  <a href=""><i class="fa-brands fa-instagram"></i></a>#}
{#                  <a href=""><i class="fa-brands fa-twitter"></i></a>#}
{#                  <a href=""><i class="fa-brands fa-google-plus"></i></a>#}
{#                  <a href=""><i class="fa-brands fa-youtube"></i></a>#}
{#                </div>#}
{#                <div class="footerNav">#}
{#                  <ul class="menu">#}
{#                    <li class="active"><a href="web/index.html">Начало</a></li>#}
{#                    <li><a href="forus.html">За нас</a></li>#}
{#                    <li><a href="services.html">Услуги</a></li>#}
{#                    <li><a href="contact.html">Контакти</a></li>#}
{#                  </ul>#}
{#                </div>#}
{#                <div class="footerBottom">#}
{#                    <p>©Nikolay Nikov & ©Petur Valev. Всички права са запазени.</p>#}
{#                </div>#}
{#              </div>#}
{#        </footer>#}
{##}
{#        <script src="app.js"></script>#}
{#    </body>#}
{#</html>#}
{##}
{##}


{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
            <section class="services">
                <h1>Нашите Услуги</h1>
                <div class="service">
                    <i class="fas fa-oil-can"></i>
                    <h2>Смяна на Масло</h2>
                    <p>Предоставяме услуга по смяна на масло, включваща източване на старото, замяна с висококачествено и поставяне на нов маслен филтър. Редовната смяна на масло помага за удължаването живота на двигателя.</p>
                </div>

                <div class="service">
                    <i class="fas fa-filter"></i>
                    <h2>Подмяна на филтри</h2>
                    <p>Уверете се, че филтрите на вашия автомобил са чисти и ефективни. Подменяме въздушни, маслени и горивни филтри, за да се поддържа върховна производителност и икономичност.</p>
                </div>

                <div class="service">
                    <i class="fas fa-car"></i>
                    <h2>Преглед и Ремонт на Спирачки</h2>
                    <p>Комплексен преглед на системата за спирачки, включително проверка на спирачни накладки, дискове, тръбички и нива на течност. Предлагаме ремонт и замяна на спирачки, за да осигурим вашата безопасност.</p>
                </div>

                <div class="service">
                    <i class="fas fa-cogs"></i>
                    <h2>Диагностика на Двигателя</h2>
                    <p>С използване на напреднали диагностични инструменти (като Ista, IMPA, KTS, Launch, Star, OpCom, VAG) идентифицираме и отстраняваме проблеми, засягащи производителността на Вашия автомобил.</p>
                </div>

                <div class="service">
                    <i class="fas fa-cogs"></i>
                    <h2>Поддръжка на Скоростна кутия</h2>
                    <p>Поддържайте плавната работа на скоростната Ви кутия с нашите услуги. Предлагаме смяна на маслото, замяна на филтри и комплексни прегледи, за да предотвратим излишни главоболия, скъпи и сложни ремонти.</p>
                </div>
            </section>
        </main>
{% endblock %}