{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="registerCont">
        <h1 class="registerTitle">Вашите коли</h1>
        <ul>
            {% for car in cars %}
                {% if car.user == request.user  %}
                    <li>
                        <a href="{% url 'car_detail' pk=car.id %}" class="carList">{{ car.model }} ({{ car.year }})</a>
                    </li>
                {% endif %}
            {% empty %}
                <li>Няма добавени коли.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'car_create' %}">Добавете кола</a>
    </div>
{% endblock %}